.view-component {
    display: flex;
    justify-content: center; 
    align-items: center; 
    border: 2px solid blue;
    text-align: center;
    background-color: rgb(84, 81, 81);
}

.view-component table {
    border-collapse: collapse; 
    width: auto; 
}

.view-component td {
    padding: 5px; 
    text-align: center; 
}

